<div id="frontPage">

    <h1>NeedieHave</h1>
    <h3>An Innovative way for sharing your skills with the world.</h3>
    <hr>
    <div id="frontINeed">
        <a ui-sref="home" class="btn need-have-btn need-btn submit wow tada wow bounceIn" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;" type="submit" ng-click="submit(user)">
            <span>I Need</span>
        </a>
    </div>

    <div id="frontIHave">
        <a ui-sref="home" class="btn need-have-btn have-btn submit wow tada" delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;" type="submit" ng-click="submit(user)">
            <span>I Have</span>
        </a>
    </div>
</div>
