<div class="search-wrapper">
    <h1 class="wow bounceInLeft" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;"> Do you want to learn New Skill?</h1>
    <h3 class="wow bounceInLeft" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;"> Learn new skills by searching for people having it or teach someone your skills!   </h3>

    <div class="search-box">
        <form class="form-inline search-form" name="search-form" role="form" novalidate>
            <div class="form-group">
                <select class="form-control" id="need">
                    <option>What you need?</option>
                    <option>Music</option>
                    <option>Finance</option>
                    <option>Software</option>
                    <option>Hardware</option>
                    <option>Software</option>
                    <option>Hardware</option>
                </select>

            </div>
            <div class="form-group">

                <input type="text" class="form-control" id="loaction" placeholder="Any prefered location?">
            </div>
            <div class="checkbox">

            </div>
            <button type="submit" class="btn btn-primary search-btn">Search</button>
        </form>
    </div>
</div>
<div class="search-wrapper">
    <table class="table borderless">

        <tbody>
            <tr class="wow fadeIn " data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                <td><img src="../images/Music.png" width="220" height="180"> </br><a href="#">Music</a></td>
                <td><img src="../images/Finance.jpg" width="220" height="180"> </br><a href="#">Finance</a></td>
                <!--<td> <img src="../images/accounting.jpg" width="220" height="180"></br>Accounts</td>-->
            </tr>
            <tr class="wow fadeIn " data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                <td><img src="../images/sw.jpg" width="220" height="180"> </br><a href="#">Infotmation Technology</a></td>
                <td><img src="../images/hardware.jpg" width="220" height="180"> </br><a href="#">Hardware</a></td>
                <!--<td><img src="../images/MA.gif" width="220" height="180"> </br>Martial Arts</td>-->
            </tr>
            <tr class="wow fadeIn " data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                <td><img src="../images/language.jpg" width="220" height="180"> </br><a href="#">Language</a></td>
                <td><img src="../images/Designing1.png" width="220" height="180"> </br><a href="#">Designing</a></td>
                <!--<td><img src="../images/dance.jpg" width="220" height="180"> </br>Dance</td>-->
            </tr>

        </tbody>
    </table>
</div>
