<ul class="nav pull-right">
    <li class="dropdown" id="menuLogin">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
        <div class="dropdown-menu login-menu">
            <form novalidate name="form" class="form" role="form" id="formLogin" action='login_bckend.php' method='post'>

                <div class="form-group">
                    <input name="username" id="username " class="form-control" type="text " placeholder="Username " ng-model="user.name" required ng-model-options="{ updateOn: 'blur'}">
                    <div ng-show="form.$submitted || form.username.$touched">
                        <span class="error-msg" ng-show="form.username.$error.required">Please Enter Your your Username!!</span>
                    </div>
                </div>

                <div class="form-group">
                    <input name="password" class="form-control" id="password " type="password" placeholder="Password " ng-model="user.password" required ng-model-options="{ updateOn: 'blur'}">
                    <div ng-show="form.$submitted || form.password.$touched">
                        <span class="error-msg" ng-show="form.password.$error.required">Please Enter Your password!!</span>
                    </div>
                </div>

                <div class="checkbox login-checkbox">
                    <label>
                        <input type="checkbox"> Remember me</label>
                </div>

                <button name="login" type="button " id="btnLogin " class="btn form-btn login-btn">Login</button>

                <input class="btn form-btn signup-btn" id="btnSignUp" type="button" value="Sign Up" data-toggle="modal" data-target="#signUpModal">
            </form>
        </div>
    </li>
</ul>
<sign-up-modal></sign-up-modal>
