<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index.html#/" class="navbar-brand logo">
                <img src="images/logo.png">
            </a>
        </div>
        <div id="mainNavbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-links">
                <li><a ui-sref="about">What is NeedieHave?</a></li>
                <li><a ui-sref="service">How does it work?</a></li>
                <li><a ui-sref="team">Our Team</a></li>
                <login-form></login-form>
            </ul>
        </div>
    </div>
</nav>
